.Main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main>button{
    height: 2px;
    background: none;
  border: none;
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 12px;
  height: 20px;
  padding: 0px 10px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;  
}

.Main>button:hover{
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
  }

.Toggled{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Toggled>h4{
    width:80%;
    border: 1px solid;
}