.nav_mainBackground{
    width: 100vw;
    height: 3rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 0.678);
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav_mainBackground p{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.nav_mainBackground p:hover{
    background-color: rgb(178, 178, 178);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}


.nav_leftDiv{
    display: flex;
    align-items: center;
}

.nav_leftDiv > h3{
    padding: 5px 10px;
}
.nav_leftDiv > h3:hover{
    background-color: rgb(178, 178, 178);
    border-radius: 3px;
    transition: 0.5s;
}

.nav_leftDiv > div{
    margin: 0px 20px;
    display: flex;
}

.nav_leftDiv > div > span{
    padding: 8px 10px;
    background-color: rgba(69, 69, 69, 0.799);

    display: flex;
    align-items: center;

    margin-right: 5px;
    border-radius: 3px;

    color: white;
}
.nav_leftDiv > div > span:hover{
    background-color: rgb(36, 36, 36);
    transition: 0.5s;
}

.nav_rightDiv{
    display: flex;
    align-items: center;
}

.nav_leftDiv > div{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.nav_leftDiv > div:hover{
    background-color: rgb(178, 178, 178);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.nav_leftDiv > div > img{
    height: 29px;
    width: 29px;
}