.image{
    display: flex;
    margin-left: 1rem;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.image>img{
    height: 12rem;
    width: 12rem;
    
}

.Main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.Main>h2{
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(175, 165, 165);
    width: 100%;
    height: 2rem;
    text-align: center;
    border: 1px solid;
}