
.Main_Background{
    height: 100vh;
    width: 100%;
    background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/3f0dae2325f35444f6bdcbfc91ca30fe/photo-1683669260701-2a12766c2bb4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size: cover;
}