
.Main_Background{
    height: 94vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size: cover;
}

.mainContent{
    display: flex;
    flex-direction: column;
}

.inner{
    display: flex;
    width: 87vw;
    height: 100%;
    overflow: auto;
    overflow-x: inherit;

}

.inner::-webkit-scrollbar {
    display: none;
}

.MainNav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
